<template name="alcoholProducts">
    <div class="container-fluid hidden-xs" id="right_container_hidden_xs">
        <div id="left_margin">
            {{#each products}}    {{>alcoholLayout}} {{/each}}
        </div>
    </div>
    <div class="container-fluid visible-xs" id="right_container_visible_xs">
        {{#each products}} {{>alcoholLayout}} {{/each}}
    </div>
</template>

<template name="alcoholLayout">
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
        <div class="panel panel-default">
          <a href="#openModal" id="link" data-id="{{_id}}">
            <!-- Panel Heading -->
            <div class="panel-heading" id="product_image">
                <div class="jumbotron jumbotron-icon">
                    <div class="container" id="icon-container">
                        <div class="info-icons">
                            <!-- <i class="fa fa-plus-circle fa-6" aria-hidden="true"></i> -->
                            {{#with FS.GetFile "images" (img)}}
                            <img src="{{this.url}}" class="img-responsive" alt="Reload">
                            {{/with}}
                        </div>
                    </div>
                </div>
            </div>
            </a>
            <div class="panel-body" id="product_description">
                <!-- Panel Body -->
                <div class="name">{{title}}
                </div>
                <div class="price">
                  <strong>${{price}}</strong>
                </div>
            </div>
            <div class="panel-footer">
                <!-- Panel Footer -->
                <button type="button" class="btn btn-primary" id="add_cart">
                    <i class="fa fa-shopping-cart fa-fw fa-lg"></i>Add to Cart
                </button>
            </div>
        </div>
    </div>

    <div id="openModal" class="modalDialog">
      <div>
    		<a href="#close" title="Close" class="close">X</a>
        {{#each item}}
    		<h2>Modal Box</h2>

    	      {{_id}}
            {{title}}
        {{/each}}
      </div>
    </div>
</template>
