<template name="bakeryLayout">
  <section class="container-fluid" style="padding-left:125px;">
    {{#each bakery}}
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
        <div class="panel panel-default">
            <!-- Panel Heading -->
            <div class="panel-heading" id="product_image">
                <div class="jumbotron jumbotron-icon">
                    <div class="container" id="icon-container">
                        <div class="info-icons">
                            <i class="fa fa-plus-circle fa-6" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body" id="product_description">
                <!-- Panel Body -->
                <div class="name">{{name}}
                </div>
                <div class="price">{{price}}
                </div>
            </div>
            <div class="panel-footer">
                <!-- Panel Footer -->
                <button type="button" class="btn btn-primary" id="add_cart">
                    <i class="fa fa-shopping-cart fa-fw fa-lg"></i>Add to Cart
                </button>
            </div>
        </div>
    </div>
    {{/each}}
      </section>
</template>
