<template name="beveragesProducts">
    <div class="container-fluid hidden-xs" id="right_container_hidden_xs">
        <div id="left_margin">
            {{#each products}} {{>beveragesLayout}} {{/each}}
        </div>
    </div>
    <div class="container-fluid visible-xs" id="right_container_visible_xs">
        {{#each products}} {{>beveragesLayout}} {{/each}}
    </div>
</template>

<template name="beveragesLayout">
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
        <div class="panel panel-default">
            <!-- Panel Heading -->
            <div class="panel-heading" id="product_image">
                <div class="jumbotron jumbotron-icon">
                    <div class="container" id="icon-container">
                        <div class="info-icons">
                          {{#with FS.GetFile "images" (img)}}
                          <img src="{{this.url}}" class="img-responsive" alt="Reload">
                          {{/with}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body" id="product_description">
                <!-- Panel Body -->
                <div class="name">{{title}}
                </div>
                <div class="price">{{price}}
                </div>
            </div>
            <div class="panel-footer">
                <!-- Panel Footer -->
                <button type="button" class="btn btn-primary" id="add_cart">
                    <i class="fa fa-shopping-cart fa-fw fa-lg"></i>Add to Cart
                </button>
            </div>
        </div>
    </div>
</template>
