<template name="cartLayout">


<div class="container products">
<h1>Carrito</h1>
<hr>
<h2>Items en el carrito: {{numItems}}</h2>
<div class="row category-credit" style="margin-top:20px">
  <div class="col-md-6">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Item ID</th>
          <th>Cantidad</th>
        </tr>
      </thead>
      <tbody>
        {{#each items}}
          <tr>
            <td data-id="{{_id}}">{{item.title}}</td>
            <td>{{amount}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
<p>Total a pagar: <strong>{{totalPrice}}$</strong></p>
{{#if currentUser}}
  <div>
    <button id="pay" class="btn btn-primary">
      <i class="glyphicon glyphicon-shopping-cart"></i>
      Pagar
    </button>
  </div>
{{else}}
  <p>No puedes pagar sin estar registrado: ¡monstruo desaprensivo!</p>
{{/if}}
<br>
<br>
</div>

</template>
