<template name="HomeLayout">
    <h2>this his home page</h2>
<input type="file" id= "uploadsImage">

    {{#each images}}
    <img src="{{this.url}}">
    {{/each}}
    <!-- <form method="post" enctype="multipart/form-data">
        <br>
        <input type=files size=60 name="files" class="myFileInput">
        <br>
        <br>
        <input type=file size=60 name="file2">
        <br>
        <br>
        <input type=submit value="subir" class="myFileInput">
        <br>
    </form>
    <br> -->
</template>
