<template name="list_title">
    <h3 class="shelfHeader">
    <div class="container-fluid">
      <div class="row">
        <!-- <div class="col-xs-12 col-sm-10 col-md10 col-lg-11" id="col_title"> -->
        <div class="col-xs-12 col-sm-10 col-md10 col-lg-11" id="col_title">
          <a class="stylesample Source-Sans-Pro-normal-200" id="title" href="/bakery/cakes-sweet-pies">Cakes & Sweet Pies</a>
        </div>
        <!-- <div class="col-xs-12 col-sm-2 col-md2 col-lg-1" id="col_seeall"> -->
        <div class="col-xs-12 col-sm-2 col-md2 col-lg-1" id="col_seeall">
          <a class="stylesample Source-Sans-Pro-normal-200" id="seeall" href="/bakery/all_products">See All
            <i class="fa fa-arrow-circle-right fa-fw"></i>
          </a>
        </div>
      </div>
    </div>
  </h3>
</template>
