<template name="navbar">
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid" id="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapsed">
    			<span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">UHC Market</a>
        <!-- <div class='navbar-brand'>UHC Market</div> -->
      </div>
      <div class="collapse navbar-collapse" id="navbar-collapsed">
        <ul class="nav navbar-nav navbar-right">
          <li>  <div class="login">
                {{#if currentUser}}

              <button type="button" name="button" class="logout">logout</button>
                <!-- <center><p><a href="#" class="logout">Logout</a></p></center> -->
                 {{else}}
                <div id="container_register" style='display:none;'>
                    {{>signup}}
                </div>
                <div id="container_login" style='display:none;'>
                    {{>login}}
                </div>
                {{/if}}
            </div>
          </li>
          <li><a href="/cart"><i class="fa fa-shopping-bag" aria-hidden="true"></i> Cart</a></li>
          <li><a class="js-show-login" href=""><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          <li><a class="js-show-Ingresar" href=""><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
        <div class="row">
          <div class="col-xs-12 col-sm-5 col-md-6 col-lg-7">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search a item...">
              <span class="input-group-btn">
                <button type="button" class="btn btn-primary" id="search_button">
                  <i class="fa fa-search fa-fw"></i>
                </button>
              </span>
            </div>
          </div>
        </div>
        <ul class="nav navbar-nav visible-xs">
          <h4 id="category">Categories</h4>
          <li><a href="/pets">Animals</a></li>
          <li><a href="/baby">Baby</a></li>
          <li><a href="/alcohol">Alcohol</a></li>
          <li><a href="/meat_seafood">Meat And Seafood</a></li>
          <li><a href="/food_cupboard">Food Cupboard</a></li>
          <li><a href="/fruit_vegetables">Fruit and Vegetables</a></li>
          <li><a href="/frozen">Frozen</a></li>
          <li><a href="/household">House Hold</a></li>
          <li><a href="/bakery">Bakery</a></li>
          <li><a href="/beverages">Beverages</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- <div class="collapse navbar-collapse" id="collapse"> -->
    <!-- <ul class="nav navbar-nav visible-xs"> -->
    <!-- <ul class="nav navbar-nav visible-xs" style="padding-top:50px">
      <li><a href="#"><i class="fa fa-shopping-bag" aria-hidden="true"></i> Cart</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      <h4>Works</h4>
      <li><a href="gallery1.html">project 01</a></li>
      <li><a href="gallery2.html">project 02</a></li>
      <li><a href="gallery3.html">project 03</a></li>
      <li><a href="cv.html">About</a></li>
      <li><a href="#" target="_blank">link</a></li>
      <li><a href="mailto:info@you.com">Contact</a></li>
    </ul>
  </div> -->

  <div class="container-fluid"><!--content area-->
	  <div class="row">
  		<aside class="col-lg-2 col-md-2 col-sm-2"><!--aside-->
        <!-- <div class="collapse navbar-collapse" id="collapse"> -->
  		  <div class="collapse navbar-collapse navbar-fixed-top" id="collapse" style="padding-top:60px;padding-left:0px;padding-right:0px;width:125px;">
    			<ul class="nav nav-pills nav-stacked hidden-xs">
            <h4 id="category">Categories</h4>
            <li><a href="/pets">Animals</a></li>
            <li><a href="/baby">Baby</a></li>
            <li><a href="/alcohol">Alcohol</a></li>
            <li><a href="/meat_seafood">Meat And Seafood</a></li>
            <li><a href="/food_cupboard">Food Cupboard</a></li>
            <li><a href="/fruit_vegetables">Fruit and Vegetables</a></li>
            <li><a href="/frozen">Frozen</a></li>
            <li><a href="/household">House Holdr</a></li>
            <li><a href="/bakery">Bakery</a></li>
            <li><a href="/beverages">Beverages</a></li>
    			</ul>
  		  </div>
  		</aside><!--aside-->
      <section class="col-lg-10 col-md-10 col-sm-10" style="padding-left:0px;padding-right:0px">
        <!-- {{> ipsum_lorem}} -->
      </section>
	  </div>
	</div>
  <!-- Para el menú anterior, no es nuevo -->
  <!-- {{>menu}} -->
</template>
