<template name="panels">
  <div class="container-fluid" id="container_products">
    <div class="panel-group">
      <div class="row" id="row_products" style="margin-left:115px;">
        {{> on_sale_article}}
        {{> on_sale_article}}
        {{> on_sale_article}}
        {{> on_sale_article}}
        {{> on_sale_article}}
        {{> on_sale_article}}
        {{> on_sale_article}}
        {{> on_sale_article}}
        {{> on_sale_article}}
        {{> on_sale_article}}
        {{> on_sale_article}}
        {{> on_sale_article}}
      </div>
    </div>
  </div>
</template>
