.navbar, .navbar-header, .container-fluid{
  background-color: #7B1FA2;
  font-color: #FFFFFF;
}

ul{
  font-family: 'Source Sans Pro',sans-serif;
  font-size: 13px;
}

a.navbar-brand{
  font-family: 'Source Sans Pro',sans-serif;
  font-size: 10px;
}

.input-group{
  width: 100%;
}

.form-group{
  padding-left: 12px;
  margin-top: 8px;
}

input-group-btn{
  padding-left: -12px;
  padding-right: -12px;
}

body{
  padding-top: 70px;
  /*min-height: 2000px;*/
}

article{
  font-size: 16px;
}

/*a:link, a:visited, a:hover*/
li:hover, div.navbar-header:hover{
  background-color: #8835AB;
}

.navbar-brand{
  padding-left: 25px;
}

.fa-search {
  color: white;
}

.panel{
  margin-left: 15px;
  margin-right: 15px;
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
}
