/*<script type="text/javascript" src="//jp-tags.mediaforge.com/js/4129?catID=cakes-sweet-pies"></script>*/

.navbar, .navbar-header, #container-fluid {
    background-color: #7B1FA2;
    font-color: #FFFFFF;
}
ul {
    /*Cart, Sign up, Log in*/
    font-family: 'Source Sans Pro' !important;
    font-size: 16px;
}
a.navbar-brand {
    /*UHC_Market - Brand*/
    font-family: 'Source Sans Pro' !important;
    font-size: 24px;
}
.input-group {
    width: 100%;
}
.form-group {
    padding-left: 12px;
    margin-top: 8px;
}
input-group-btn {
    padding-left: -12px;
    padding-right: -12px;
}
body {
    padding-top: 70px;
    /*min-height: 2000px;*/
}
article {
    font-size: 16px;
}

/*a:link, a:visited, a:hover*/

li:hover, div.navbar-header:hover {
    background-color: #8835AB;
}
.fa-search, .fa-shopping-cart {
    color: #FFFFFF;
}
#search_button {
    margin-bottom: 0px;
    float: right;
}
.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
}
.col-xs-6, .col-sm-4, .col-md-3, .col-lg-2 {
    /*panels (template > on_sale_article)*/
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}

/*.col-xs-6, .col-sm-4, .col-md-3, .col-lg-2{
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 10px;
  padding-bottom: 0px;
}*/


/*erixxx*/

.panel-default> .panel-heading {
    background-color: none!important;
}
.panel-default> .panel-footer {
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}
#container_products {
    padding-left: 10px;
    padding-right: 10px;
}
#row_products {
    margin-left: auto;
    margin-right: auto;
}
#product_image {
    width: 100%;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    height: 200px;
}

/*#product_image{
  width: 100%;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  height: 140px;
}*/


/*erixxx*/


#product_description{
/*font-size: 12px;
text-align: center;*/
height: 90px;
}
/*erixxx*/


/* tres puntos suspensivos para los nombres de los productos a mostrar */

.panel-body> .name {
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
#add_cart {
    width: 100%;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    background-color: #64DD17;
}
.shelfHeader {
    margin-top: 0.5em;
    margin-right: 0px;
    margin-bottom: 1em;
    margin-left: 0px;
    text-align: center;
    /*overflow: hidden;*/
}
.shelfHeader .title a {
    padding-top: 0px;
    padding-right: 15px;
    padding-bottom: 0px;
    padding-left: 15px;
}
.Source-Sans-Pro-normal-200 {
    font-family: 'Source Sans Pro' !important;
    font-style: normal;
    /*font-weight: 200;*/
    color: #666;
}
.Source-Sans-Pro-normal-200:hover, .Source-Sans-Pro-normal-200:focus {
    text-decoration: none;
    color: #000000;
}
#title {
    font-size: 36px;
}
#seeall {
    font-size: 20px;
    vertical-align: baseline;
}
.col-xs-12, .col-sm-6, .col-md2, .col-lg-1 {
    padding-left: 0px;
    padding-right: 0px;
}
#col_seeall {
    margin-top: 6px;
    margin-bottom: 6px;
}

/* ---------------------------------- */


/* ------------JUMBOTRON------------- */


/* ---------------------------------- */

.jumbotron-icon .fa-6 {
    font-size: 12em;
}

/*.jumbotron-icon .fa-6 {
  font-size: 8em;
}*/


/*erixxx*/

div.jumbotron.jumbotron-icon {
    padding-top: 15px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 15px;
    margin-bottom: 0px;
    height: 200px;
    /*height: 139px; erixxx */
    text-align: center;
    box-shadow: 0px 0px 0px;
}
.info-icons {
    vertical-align: middle;
}
div.container {
    padding-left: 0px;
    padding-right: 0px;
}

/* ---------------------------------- */

#category {
    /*Categorías*/
    font-family: 'Source Sans Pro' !important;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
}
a {
    /*Animales, Bebés, Alcohol, etc*/
    color: #333;
}
#collapse {
    z-index: 0;
}
.nav-pills> li> a {
    /*quitar los bordes de las distintas categorías*/
    border-radius: 0px;
}
.form-control {
    /*Color blanco para el texto de la barra de búsqueda*/
    color: #FFF;
}
.form-group.is-focused .form-control {
    /*Color blanco para la animación inferior de la barra de búsqueda*/
    /*background-image: linear-gradient(@input-success, @input-success), linear-gradient(@input-underline-color, @input-underline-color);*/
    background-image: linear-gradient(#FFFFFF, #FFFFFF), linear-gradient(#FFFFFF, #FFFFFF);
}
.nav-pills a:hover, .nav-pills a:focus {
    text-decoration: none;
    color: #000000;
    /*z-index: 1;*/
}
.nav-pills> li:hover {
    /*z-index: 0;*/
    background-color: #E1E1E1;
}
#collapse {
    /**/
    z-index: 0;
}
.nav-pills> li> a:hover {
    /*background gris para las categorías*/
    background-color: #E7E7E7;
}

/*#col_title{
  margin-left: 125px;
}*/


/* ---------------------------------- */


/* ------------OFF CANVAS------------ */


/* ---------------------------------- */


/* Input Configurations */

.sign_input {
    visibility: hidden;
}

/* Default State */

.container_signupbar {
    background-color: #333;
    top: 60px;
    width: 100%;
    height: 0px;
    color: white;
    text-align: center;
    position: absolute;
    transition: height 0.5s;
    z-index: 100;
}

/* Toggled State */

.container_signupbar-show {
    top: 60px;
    width: 100%;
    color: white;
    text-align: center;
    position: absolute;
    /*background: -moz-linear-gradient(top,#333 0,#444 90%,#333 100%);*/
    background-color: #333;
    transition: height 0.1s;
    height: 310px;
    visibility: visible;
    z-index: 100;
}

/* ---------------------------------- */


/* ----------Margen de los template Dinamicos-------------- */


/*.container-fluid{
  padding-left: 130px;
}*/

#right_container_hidden_xs {
    /*Para el margen del contenedor derecho cuando el tamaño xs está oculto*/
    margin-left: 115px;
}
#right_container_visible_xs {
    /*Para el margen del contenedor derecho cuando el tamaño xs está visible*/
    margin-left: 0px;
}
#offer_image_1, #offer_image_2, #offer_image_3, #offer_image_4, #offer_image_5, #offer_image_6, #offer_image_7, #offer_image_8, #offer_image_9, #offer_image_10 {
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}
#promo_001, #promo_002, #promo_003, #promo_004, #promo_005, #promo_006, #promo_007, #promo_008, #promo_009, #promo_010 {
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}
.img-responsive {
    /*Imagen centreada dentro del panel-heading*/
    margin: 0 auto;
}
.panel-footer> .promo-footer {
    font-family: 'Source Sans Pro' !important;
    font-size: 20px;
    color: #666;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    padding-left: 15px;
}
.promo-footer:hover {
    color: #000000;
}
