.navbar{
  background-color: #7B1FA2;
  width: 100%;
  position: fixed;
}

ul{
  font-family: 'Source Sans Pro',sans-serif;
  font-size: 13px;
}

a.navbar-brand{
  font-family: 'Source Sans Pro',sans-serif;
  font-size: 10px;
}

form.navbar-form{
margin-left: 12em;
  width: 63%;
}

#form{
  width: auto;
  padding-right: 250px;
  padding-left: 200px;

}

input{
  width: auto;
  padding-top: 100px;
}
